{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar Sesión | Argentina Post{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="auth-card-wrapper">
    <div class="auth-card">
        <h1 class="auth-card-title">Iniciar Sesión</h1>
        <div class="auth-card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="auth-card-actions">
                    <button type="submit" class="btn-comic">Entrar</button>
                </div>
            </form>
            <div class="auth-card-footer">
                <p>¿No tenés una cuenta? <a href="{% url 'accounts:registro' %}">Registrate como POST acá</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}