<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argentina Post</title>
</head>
<body>
    <header>
        <h1>ARGENTINA - POST</h1>

        <nav>
            <a href="#">Inicio</a>
            <a href="#">Articulos</a>
            <a href="">Crear Articulo</a>
        </nav>

        <div>
            <a href="{% url 'accounts:login' %}">Iniciar Sesion</a>
            <a href="{% url 'accounts:registro' %}">Registrar</a>
        </div>
    </header>
    <main>
        {% block content %} 
        {% endblock content %}
    </main>
</body>
</html>